gitignore

build/
.gradle/
.idea/
*/build/
captures/
.externalNativeBuild/
.cxx/
xcuserdata/
.kotlin/
DerivedData/
**/.kotlin/
!docs/screenshots/*.jpg
*.xcuserstate
local.properties
androidApp/google-services.json
gradle.properties
.DS_Store
.gradletasknamecache
*.iml
*.hprof
*.snapshot
*.ap_
*.log
*.jks
*.keystore
*~
*.swp
*.bak
*.tmp
*.apk
*.aar
*.properties
*.swo
*.class
*.dex
*.so
*.o
*.obj
*.dll
*.exe
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.rar
*.7z
*.dmg
*.iso
*.img
*.bin
*.dat
*.cache
*.db
*.sqlite
*.sqlite-journal
*.lock
*.pid
*.port
*.png
*.webp